@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.Paragraph-text{
    font-weight: 300 !important;
    line-height: 1.5;
    font-family:"Open Sans", sans-serif;
    color: white;
    margin: 0px;
    padding: 5px;
    font-size: 1rem;
    letter-spacing: 0.05rem;

}

@media only screen and (min-width:1600px ){
    .Paragraph-text{
        line-height: 1.37em;

    }
    
}