* {    /*normalize shows white space at the top of page, this fixes it*/
    /*overflow:auto; /* or auto */
}
body {
    /*overflow: hidden;*/
    background-color: rgb(2, 2, 2);
}


.Base{
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.FullPage-Slide{
    position: relative;
    height: 100vh;
    width: 100%;
}
.FullPage-Container{
    position:absolute;
    top:0px;
    left:0px;
    height: 100%;
    width: 100%;


}

#baseDIV{
    position:relative;
}
.hiddenCanvas{
    /* the hidden canvas class for getting text points */
    display:none;
}