.SkillBox{
    height: 150px;
    width: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SkillBox p{
    padding-top: 1em !important;
}

.svg_icon{
    height:40px;
    width:40px;
}

@media only screen and (min-width: 1300px){
    .SkillBox{
        height: 200px;
        width: 250px;
    }
    .svg_icon{
        height: 45px;
        width: 45px;
    }
}

