.ToolColumn-container{
    display:grid;
    width:100%;
    justify-content: center;
}

.ToolColumn{
    margin-top: -20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 700px;
}
.Tool{
    text-align: start;
    transform: rotate(30deg);
    width: 40px;
    overflow: visible;
    padding: 0px;
}
.Tool p{
    font-size: 0.8rem !important;
}


@media only screen and (min-width: 1300px){
    .ToolColumn{
        width: 800px;
    }
    .Tool{
        width: 50px;
    }
    .Tool p{
        font-size: 0.9rem !important;
    }
    
}