.ToolColumn{
    margin-top: 30px;
    display:flex;
    flex-direction: row;
    padding: 0px;
    justify-content: center;
}
.Tool{
    text-align: start;
    transform: rotate(30deg);
    width: 50px;
    overflow: visible;
    /*opacity: 0.65;*/
    padding: 0px;
    font-size: 0.9rem;
}


@media only screen and (min-width: 1600px){
    .ToolColumn{
        margin-top: 60px;
    }
    
}