.Contact-container{
    z-index:2;
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
}
.Contact-item{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position:relative;
    padding: 1em 2em;
}

.Contact-item p{
    padding-left: 1em;
    cursor:default;
    white-space: nowrap;
}

.Contact-svg{
    height: 20px;
    width: 20px;
}


.Contact-link, .Contact-link p{
    color: white;
    cursor: pointer !important;
}

.Contact-copied{
    pointer-events: none;
    position:absolute;
    top: 2.5em;
    right: 0.5px;
    border: 0.5px solid white;
    border-radius: 3px;
    display: none;
    opacity: 0.7;
}
.Contact-copied p{
    padding:6px 12px;
    font-size: 0.9em;
}

@keyframes fadeout {
    0% {
        opacity: 0.7;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

.Contact-copied.in{   
    display:block;
    animation: fadeout 1s ease-in 1s, fadeIn 1s ease-in-out 0s;
}