.Description{
    text-align: center;
    margin-top: 25vh;
    height: 150px;
    width: 850px;
    word-break: normal;
    align-self: center;
}
.Description p{
    line-height: 1.75em !important;
}

@media only screen and (min-width:1600px) {
    .Description{
        height:175px;
    }
}
