.Description{
    text-align: center;
    margin-top: 25vh;
    height: auto;
    width: 850px;
    word-break: normal;
    align-self: center;
}
.Description p{
    /*line-height: 1.75em !important;*/
}

