.Timeline{
    width:100%;
    height:100%;
    padding-top: 18vh;
}
.Timeline-chart-container{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.Timeline-info-container{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    position:relative;

}

@media only screen and (min-width: 1600px){
    .Timeline {
        padding-top: 18vh;
    }
    
}