.Chart-container{
    z-index:10;
    /*border:1px solid white;*/
}

.Chart-container text{
    font-size: 0.8em;
    fill: white;
    font-weight: 300;
    line-height: 1.25;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
}

.SVG-ProjectLine, .SVG-WorkLine{
    stroke: white;
    stroke-width: 0.5;
}


.SVG-itemgroup{
    cursor: pointer;
}

.SVG-itemgroup:hover .SVG-ProjectLine, .SVG-itemgroup:hover .SVG-WorkLine{
    stroke-width: 2;
}
.SVG-itemgroup.active .SVG-ProjectLine, .SVG-itemgroup.active .SVG-WorkLine{
    stroke: rgba(255, 166, 0, 1) !important;
    stroke-width: 2;
}

@media only screen and (min-width: 1600px){
    .Chart-container text {
        font-size: 1em;
    }
    
}